<!doctype html>
<html amp>
<head>
    <meta charset="utf-8">
    <title>{{firstname}} {{patronymic}} {{lastname}}. Возложить цветы на могилу.</title>
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="" />
    <link rel="canonical" href="{КАНОНИЧЕСКИЙ УРЛ СТРАНИЦЫ}" />
    <meta name="yandex" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="google-site-verification" content="{ГУГЛ КОД ВЕРИФИКАЦИИ}" />
    <link rel="shortcut icon" href="imgs/logo.svg">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <style amp-custom>
        *{-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-focus-ring-color:rgba(255,255,255,0);outline:none}
        body{background-color:#e0e0e0;color:#3b3b3b;font-family:'Roboto',sans-serif;font-style:normal;font-weight:300;font-size:16px;line-height:160%}
        .wrap{max-width:700px;min-width:300px;margin-left:auto;margin-right:auto;background-color:#fff;box-sizing:border-box}
        header{height:49px;position:fixed;top:0;left:0;right:0;border-bottom:1px solid #E5E5E5;z-index:9000}
        header .open,amp-sidebar .close{position:absolute;width:24px;height:24px;border:0;left:16px;top:50%;transform:translateY(-50%);text-indent:100px;background:#fff url(imgs/open.svg) center center no-repeat;white-space:nowrap;overflow:hidden;cursor:pointer}
        .logotype{display:block;width:112px;height:28px;margin:0 auto;position:relative;top:50%;transform:translateY(-50%)}
        footer{padding:16px;border-top:1px solid #E5E5E5;font-style:normal;font-weight:300;font-size:12px;color:#B9B9B9}
        footer nav{display:grid;grid-template-columns:1fr 1fr 1fr;grid-gap:30px}
        footer nav ul{margin:0;padding:0;list-style:none}
        footer nav li{display:block;padding:3px 0}
        footer nav a{display:block}
        footer a{text-decoration:none;color:#B9B9B9}
        .download{width:213px;display:grid;grid-template-columns:102px 87px;grid-gap:24px;margin:30px auto 0}
        .phonenumber{text-align:center;margin-top:20px}
        .phonenumber a{display:inline-block}
        .phonenumber span{display:block;padding-left:16px;font-size:16px;font-weight:500;background:url(imgs/phone-gray.svg) left top 2px no-repeat}
        .copyright{margin-top:20px;text-align:center}
        main{margin-top:49px;background-color:#fff}
        .padding{padding:16px}
        .celebrity{position:relative;margin:0 0 16px}
        .celebrity h1{font-weight:300;font-size:16px;line-height:150%;padding:0;margin:0 0 8px}
        .celebrity_image{position:relative;width:80px;height:80px;overflow:hidden;border-radius:50%}
        .celebrity_name_date{display:block;position:absolute;top:50%;left:96px;right:0;transform:translateY(-50%)}
        .celebrity_name_date span{font-size:14px;line-height:140%}
        .small{font-size:16px;padding:0;margin:0 0 4px;font-weight:100;line-height:150%}
        p{margin:0;padding:0}
        .birth_death{display:grid;grid-gap:8px;grid-template-columns:1fr;margin-bottom:16px}
        .celebrity_biography{background:#f9f9f9}
        .buttons{display:block;margin-bottom:24px;padding:8px 16px 0;text-align:center;}
        .bttn{display:block;width:100%;height:44px;line-height:44px;border-radius:4px;font-weight:400;text-decoration:none;}
        .buttons .url{color:#ffffff;background-color:#6EC6C0;border-bottom:2px solid #40B5AE;box-shadow:0px 4px 16px rgba(110, 172, 168, 0.16);}
        .buttons .app{color:#6EC6C0;border:1px solid #CDCDCD;}
        .buttons span{display:block;font-size:14px;color:#B9B9B9;line-height:20px;margin:9px 0;}
        .social{display:flex;justify-content:center;margin-bottom:30px;}
        .social a{display:block;width:28px;height:28px;background-color:#F7F7F7;border-radius:6px;margin:0 7px;background-position:center center;background-repeat:no-repeat;}
        .vkontakte{background-image:url(imgs/ico-vk.svg);}
        .facebook{background-image:url(imgs/ico-fb.svg);}
        .oklas{background-image:url(imgs/ico-ok.svg);}
        .twitter{background-image:url(imgs/ico-tw.svg);}
        .copyurl{background-image:url(imgs/ico-copy.svg);}
        .tabs{padding:0 16px;box-shadow:0 5px 4px rgba(0,0,0,0.1);position:relative;z-index:300}
        amp-selector[role=tablist].tabs-with-selector [role=tab][selected]{outline:none;border-bottom:2px solid #158467;color:#158467}
        amp-selector[role=tablist].tabs-with-selector{display:grid;grid-gap:12px;grid-template-columns:1fr 1fr 1fr;font-weight:400}
        amp-selector[role=tablist].tabs-with-selector [role=tab]{width:100%;text-align:center;padding-bottom:14px}
        amp-selector.tabpanels [role=tabpanel]{display:none}
        amp-selector.tabpanels [role=tabpanel][selected]{outline:none;display:block}
        .celebrity_biography{font-size:16px;padding:20px 16px}
        .celebrity_biography h2{font-weight:500;font-size:16px;padding:0;margin:0 0 12px}
        .text{margin-bottom:20px}
        .awards{list-style:none;margin:0 0 20px;padding:0;display:grid;grid-gap:12px;grid-template-columns:1fr}
        .awards li{display:grid;grid-template-columns:36px 1fr;grid-gap:12px}
        .weight300{font-weight:100}
        .cemetery_time,.cemetery_contact{display:grid;grid-gap:12px;grid-template-columns:1fr;list-style:none;margin:0 0 20px;padding:0}
        .cemetery_contact a{display:block;color:#158467;text-decoration:none;padding-left:32px;background-position:left center;background-repeat:no-repeat;background-size:20px auto}
        .cemetery_time span{display:inline-block;width:104px;margin-right:8px}
        .cemetery_contact .addr{background-image:url(imgs/ico-green-mappin.svg)}
        .cemetery_contact .phone{background-image:url(imgs/ico-green-phone.svg)}
        .cemetery_contact .email{background-image:url(imgs/ico-green-email.svg)}
        .cemetery_contact .map{background-image:url(imgs/ico-green-map.svg)}
        .cem_image{position:relative;width:calc(100vw - 100px);height:154px;margin:0 auto;overflow:hidden}
        .contain-image{width:calc(100vw - 100px);height:154px}
        .contain-image img,.celebrity_photo img,.image_gallery img{object-fit:cover}
        .amp-carousel-button-prev,.amp-carousel-button-next{opacity:1;background-color:#f9f9f9;position:absolute;width:34px;height:auto;top:0;bottom:0;transform:none;pointer-events:all}
        .amp-carousel-button-prev{left:-7px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='%233b3b3b'%3E%3Cpath d='M15 8.25H5.87l4.19-4.19L9 3 3 9l6 6 1.06-1.06-4.19-4.19H15v-1.5z'/%3E%3C/svg%3E")}
        .amp-carousel-button-next{right:-7px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='%233b3b3b'%3E%3Cpath d='M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z'/%3E%3C/svg%3E")}
        .celebity_image_gallery{display:grid;grid-template-columns:1fr 1fr 1fr;grid-gap:8px}
        .celebity_image_gallery .image{position:relative;height:136px;overflow:hidden}
        .celebity_image_gallery .image:nth-child(4n+3){grid-column-start:1;grid-column-end:3}
        .celebity_image_gallery .image:nth-child(4n+2){grid-column-start:2;grid-column-end:4}
        .image_gallery{height:136px}
        .gallery button{border:1px solid #E5E5E5;height:34px;line-height:32px;border-radius:18px;background-color:transparent;font-size:16px;cursor:pointer;font-weight:100}
        .gallery button span{display:inline-block;width:20px;height:20px;position:relative;top:50%;margin-right:8px;transform:translateY(-50%);background-position:center center;background-size:20px 20px;background-repeat:no-repeat}
        .gallery button .photo{background-image:url(imgs/ico-gallery-photo.svg)}
        .gallery button .video{background-image:url(imgs/ico-gallery-video.svg)}
        .gallery button.active .photo{background-image:url(imgs/ico-gallery-photo-green.svg)}
        .gallery button.active .video{background-image:url(imgs/ico-gallery-video-green.svg)}
        .gallery button.active{color:#158467;border-color:#158467;font-weight:300}
        .select_gallery{display:grid;grid-template-columns:1fr 1fr;grid-gap:8px;margin-bottom:20px}
        .show_video{margin-bottom:16px}
        .show_video p{margin:12px 0 0;padding:0;font-size:14px}
        .border_top{border-top:1px solid #E5E5E5}
        .canonical{display:block;text-decoration:none;text-align:center;height:40px;line-height:40px;background-color:#fff;color:#158467;border:1px solid #E5E5E5;border-radius:2px;font-size:16px}
        .amp-sidebar-mask{z-index:99;}
        amp-sidebar[side],amp-sidebar{width:100vw;max-width:100vw;background:#ffffff;position:relative;}
        amp-sidebar .close{top:12px;transform:none;background-image:url(imgs/close.svg);}
        amp-sidebar ul{list-style:none;display:block;margin:0;padding:0;}
        amp-sidebar li{height:53px;line-height:53px;text-align:center;font-size:14px;border-bottom:1px solid #E5E5E5;}
        amp-sidebar a{text-decoration:none;font-weight:400;color:#3b3b3b;display:block;box-sizing:border-box;}
        amp-sidebar .phone{height:49px;}
        amp-sidebar .phone a{margin-left:70px;text-align:right;padding:8px 16px 0;color:#B9B9B9;font-size:12px;font-weight:300;line-height:100%;height:49px;}
        amp-sidebar .phone b{color:#40B5AE;font-size:14px;height:16px;line-height:16px;display:inline-block;margin-bottom:4px;padding-left:28px;position:relative;}
        amp-sidebar .phone b:before{content:"";display:block;width:16px;height:16px;position:absolute;top:0;left:0;background:url(imgs/phone-green.svg) center center no-repeat;}
        amp-sidebar .phone span{display:block;}
        .vpam{background-color:#F7F7F7;}
        .vpam a{color:#40B5AE;font-weight:500;}
    </style>
</head>
<body>
<header class="wrap">
    <a href="{КАНОНИЧЕСКИЙ УРЛ СТРАНИЦЫ}" class="logotype"><amp-img width="112" height="28" src="imgs/vpamyati-logo.svg"></amp-img></a>
    <amp-sidebar id="sidebar-right" class="sample-sidebar" layout="nodisplay" side="right">
        <button on="tap:sidebar-right.close" class="close">Закрыть меню</button>
        <nav>
            <ul>
                <li class="level-1 phone"><a href="tel:+74951502112"><b>8 (495) 150-21-12</b><span>Круглосуточный колл-центр</span></a>
                <li class="level-1 vpam"><a href="">Каталог ВПамяти</a>
                <li class="level-1"><a href="">О проекте</a>
                <li class="level-1"><a href="">Сотрудничество</a>
            </ul>
        </nav>
    </amp-sidebar>
    <button on="tap:sidebar-right.toggle" class="open">Открыть меню</button>
</header>
<main class="wrap">
    <div class="padding">
        <div class="celebrity">
            <div class="celebrity_image">
                <amp-img src="{{profile_photo.thumb_url}}" layout="fill" class="celebrity_photo" alt=""></amp-img>
            </div>
            <div class="celebrity_name_date">
                <h1>{{firstname}} {{patronymic}} {{lastname}}</h1>
                <span>{{dob}} — {{dod}}</span>
            </div>
        </div>
        <section class="birth_death">
            <div>
                <h2 class="small">Место рождения</h2>
                <p>{{birth_place}}</p>
            </div>
            <div>
                <h2 class="small">Место погребения</h2>
                <p>{{cemetery.name}}</p>
            </div>
        </section>
        <section class="short_biography">
            <h2 class="small">Краткая справка</h2>
            <p>{{short_bio}}</p>
        </section>
    </div>
    <div class="buttons">
        <a href="{КАНОНИЧЕСКИЙ УРЛ СТРАНИЦЫ}" class="bttn url">Почтить память</a>
        <span>или</span>
        <a href="{ЛИНК НА ПРИЛОЖЕНИЕ}" class="bttn app">Установить приложение</a>
    </div>
    <div class="social">
        <a href="" class="vkontakte"></a>
        <a href="" class="facebook"></a>
        <a href="" class="oklas"></a>
        <a href="" class="twitter"></a>
        <a href="" class="copyurl"></a>
    </div>
    <div class="tabs">
        <amp-selector class="tabs-with-selector" role="tablist" on="select:myTabPanels.toggle(index=event.targetOption, value=true)" keyboard-select-mode="focus">
            <div id="tab1" role="tab" aria-controls="tabpanel1" option="0" selected>Биография</div>
            <div id="tab2" role="tab" aria-controls="tabpanel2" option="1">Галерея</div>
            <div id="tab3" role="tab" aria-controls="tabpanel3" option="2">Захоронение</div>
        </amp-selector>
    </div>
    <div class="celebrity_biography">
        <amp-selector id="myTabPanels" class="tabpanels">

            <section id="tabpanel1" role="tabpanel" aria-labelledby="tab1" option selected>
                <h2>Краткая биография</h2>
                <p class="text">
                    {{{full_bio}}}
                </p>
                <h2>Почетные звания и награды</h2>
                <ul class="awards">
                    {{#awards}}
                        <li>
                            <span class="weight100">{{data}}</span>
                            <span>{{award}}</span>
                        </li>
                    {{/awards}}
                </ul>
            </section>
            <div id="tabpanel2" class="gallery" role="tabpanel" aria-labelledby="tab2" option>
                <div class="select_gallery">
                    <button class="active" [class]="myClass_photo" on="tap:AMP.setState({ hidePhoto: false, hideVideo: true, myClass_photo: 'active', myClass_video: '' })"><span class="ico photo"></span> Фотографии</button>
                    <button [class]="myClass_video" on="tap:AMP.setState({ hideVideo: false, hidePhoto: true, myClass_video: 'active', myClass_photo: '' })"><span class="ico video"></span> Видеозаписи</button>
                </div>
                <div [hidden]="hidePhoto" class="celebity_image_gallery">
                    {{#photos}}
                        <div class="image"><a href="КАНОНИЧЕСКИЙ УРЛ СТРАНИЦЫ #GALLERY"><amp-img src="{{thumb_url}}" layout="fill" class="image_gallery" alt=""></amp-img></a></div>
                    {{/photos}}
                </div>
                <div hidden [hidden]="hideVideo" class="celebity_video_gallery">
                    {{#videos}}
                        <div class="show_video">
                            <amp-youtube width="480" height="240" layout="responsive" data-videoid="{{url}}"></amp-youtube>
                            <p>{{name}}</p>
                        </div>
                    {{/videos}}
                </div>
            </div>

            <section id="tabpanel3" role="tabpanel" aria-labelledby="tab3" option>
                <h2>{{cemetery.name}}</h2>
                <p class="text">
                    {{cemetery.description}}
                </p>
                <ul class="cemetery_contact">
                    <li><a href="" class="addr">{{cemetery.address}}</a></li>
                    <li><a href="tel:+74951502112" class="phone">{{cemetery.phone}}2</a></li>
                    <li><a href="mailto:ag@openagent.ru" class="email">{{cemetery.email}}</a></li>
                    <li><a href="" class="map">Схема кладбища</a></li>
                </ul>
                <h2>Время работы кладбища</h2>
                <ul class="cemetery_time">
                    <li><span>01.05 – 30.09:</span> 9:00 – 19:00</li>
                    <li><span>01.10 – 30.05:</span> 9:00 – 17:00</li>
                    <li><span>Захоронения:</span> {{cemetery.worktime}}</li>
                </ul>
                <h2>Фотографии захоронения</h2>
                <amp-carousel class="cemetery_images" height="154" layout="fixed-height" type="slides" autoplay delay="2000" role="region">
                    {{#burial.photos}}
                        <div>
                            <div class="cem_image">
                                <amp-img src="{{thumb_url}}" layout="fill" class="contain-image" alt=""></amp-img>
                            </div>
                        </div>
                    {{/burial.photos}}
                </amp-carousel>
            </section>
        </amp-selector>
    </div>
    <div class="padding border_top">
        <a href="{КАНОНИЧЕСКИЙ УРЛ СТРАНИЦЫ}" class="canonical">Полная версия страницы</a>
    </div>
</main>

<!-- celebrity block end -->

<footer class="wrap">
    <nav>
        <ul>
            <li><a href="/">О компании</a></li>
            <li><a href="/">Вакансии</a></li>
            <li><a href="/">Пресс центр</a></li>
            <li><a href="/">Команда</a></li>
        </ul>
        <ul>
            <li><a href="/">Отзывы</a></li>
            <li><a href="/">Обратная связь</a></li>
            <li><a href="/">Документация</a></li>
        </ul>
        <ul>
            <li><a href="/">Новости</a></li>
            <li><a href="/">Контакты</a></li>
            <li><a href="/">Блог</a></li>
        </ul>
    </nav>
    <div class="download">
        <a href="/"><amp-img width="102" height="24" src="imgs/app-store.svg"></amp-img></a>
        <a href="/"><amp-img width="87" height="24" src="imgs/google-play.svg"></amp-img></a>
    </div>
    <div class="phonenumber">
        <a href="tel:+74951502112"><span>8 (495) 150-21-12</span> Круглосуточный колл-центр</a>
    </div>
    <div class="copyright">
        © 1994 - 2019 Честный Агент. Все права защищены.<br>
        <a href="/">Пользовательское соглашение</a> | <a href="/">Сообщить о нарушении авторских прав</a> | <a href="/">Служба поддержки</a>
    </div>
</footer>
<amp-analytics type="gtag" data-credentials="include">
    <script type="application/json">
        {
            "vars" : {
                "gtag_id": "UA-130501026-1",
                "config" : {
                    "UA-130501026-1": { "groups": "default" }
                }
            }
        }
    </script>
</amp-analytics>
<amp-analytics type="metrika">
    <script type="application/json">
        {
            "vars": {
                "counterId": "37034900",
                "yaParams": "{\"key\":\"value\",\"__ymu\":{\"user_param_key\":\"user_param_value\"}}"
            }
        }
    </script>
</amp-analytics>
</body>
</html>
