<html lang="ru">
<head><style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');</style><link rel="stylesheet" href="./style.css"></head>
<body class="body">
<table class="table-root">
<tbody>
<tr>
    <td class="divider-36">&nbsp;</td>
</tr>
<tr>
    <td valign="top" class="logo">
        <a href="/">
            <img border="0" width="131" height="40" alt="vpam" src="{{{logoUrl}}}"/>
        </a>
    </td>
</tr>
<tr>
    <td class="cell_table-main">
    <table class="table-main">
        <tbody>
        <tr>
            <td class="title">Заказ оплачен</td>
        </tr>
        <tr>
            <td>Здравствуйте, <span class="text-medium">{{orderCreator}}!</span></td>
        </tr>
        <tr>
            <td>Спасибо Вам за Ваш платеж! Статус Вашего заказа № <span class="text-medium">{{orderNumber}}</span> был обновлен на <span class="text-medium">Оплачен</span>.</td>
        </tr>
        <tr>
            <td>В течение 7 дней наши специалисты приступят к его выполнению. После завершения работ Вам поступит уведомление.</td>
        </tr>
        <tr>
            <td>Отслеживайте состояние новых заказов и просматривайте прошлые в личном кабинете в <a href="{{{getMobileAppLink}}}" class="link">мобильном приложении ВПамяти</a>.</td>
        </tr>
        <tr>
            <td class="padding-16">Остались вопросы? Свяжитесь с нами:</td>
        </tr>
        <tr>
            <td class="no-padding">{{> partials/contact-list}}</td>
        </tr>

        <tr>
            <td class="padding-16">{{> partials/order-list}}</td>
        </tr>

        <tr>
            <td class="padding-16">{{> partials/contact-info}}</td>
        </tr>

        {{#orderPaid}}
            <tr>
                <td class="no-padding">{{> partials/payment-info}}</td>
            </tr>
        {{/orderPaid}}
        </tbody>
    </table>
    </td>
</tr>
<tr>
    <td class="divider-32">&nbsp;</td>
</tr>
<tr>
    <td>{{> partials/mobile}}</td>
</tr>
<tr>
    <td>{{> partials/footer-note}}</td>
</tr>
</tbody>
</table>
</body>
