<html lang="ru">
<head><style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');</style><link rel="stylesheet" href="./style.css"></head>
<body class="body">
<table class="table-root">
<tbody>
<tr>
    <td class="divider-36">&nbsp;</td>
</tr>
<tr>
    <td valign="top" class="logo">
        <a href="/">
            <img border="0" width="131" height="40" alt="vpam" src="{{{logoUrl}}}"/>
        </a>
    </td>
</tr>
<tr>
    <td class="cell_table-main">
    <table class="table-main">
        <tbody>
        <tr>
            <td class="title">Заказ сформирован, не забудьте оплатить</td>
        </tr>
        <tr>
            <td>
                Здравствуйте, <span class="text-medium">{{orderCreator}}!</span>
            </td>
        </tr>
        <tr>
            <td>
                Мы получили Ваш заказ № <span class="text-medium">{{orderNumber}}!</span>
            </td>
        </tr>
        <tr>
            <td>
                Сейчас он находится в обработке. Не забудьте произвести оплату, чтобы наши специалисты приступили к его выполнению.
            </td>
        </tr>
        <tr>
            <td>
                Чтобы оплатить заказ, перейдите по <a href="{{{orderPayLink}}}" class="link">ссылке</a>.<br>
                Ссылка активна до <span class="text-medium">{{orderPayLinkAliveTill}}!</span>
            </td>
        </tr>
        <tr>
            <td>
                Если Вы хотите оплатить позже — сообщите об этом в ответном письме.
            </td>
        </tr>
        <tr>
            <td>
                Не получается оплатить из‑за технических проблем? Напишите нам, и мы всё исправим.
            </td>
        </tr>
        <tr>
            <td>
                Отслеживайте состояние новых заказов и просматривайте прошлые в личном кабинете в <a href="{{{getMobileAppLink}}}" class="link">мобильном приложении ВПамяти</a>.
            </td>
        </tr>
        <tr>
            <td class="padding-16">
                Остались вопросы? Свяжитесь с нами:
            </td>
        </tr>
        <tr>
            <td class="no-padding">{{> partials/contact-list}}</td>
        </tr>

        <tr>
            <td class="padding-16">{{> partials/order-list}}</td>
        </tr>

        <tr>
            <td class="padding-16">{{> partials/contact-info}}</td>
        </tr>

        {{#orderCreated}}
            <tr>
                <td class="padding-16">{{> partials/payment-info}}</td>
            </tr>
        {{/orderCreated}}

        <tr>
            <td class="no-padding cell-action-button">
                <a title="Payment" href="{{{actionUrl}}}" target="_blank" rel="nofollow noopener" class="action-button">
                    Перейти к оплате
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    </td>
</tr>
<tr>
    <td class="divider-32">&nbsp;</td>
</tr>
<tr>
    <td>{{> partials/mobile}}</td>
</tr>
<tr>
    <td>{{> partials/footer-note}}</td>
</tr>
</tbody>
</table>
</body>
