<html lang="ru">
<head><style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');</style><link rel="stylesheet" href="./style.css"></head>
<body class="body">
<table class="table-root">
<tbody>
<tr>
    <td class="divider-36">&nbsp;</td>
</tr>
<tr>
    <td valign="top" class="logo">
        <a href="/">
            <img border="0" width="131" height="40" alt="vpam" src="{{{logoUrl}}}"/>
        </a>
    </td>
</tr>
<tr>
    <td class="cell_table-main sm-padding">
    <table class="table-main">
        <tbody>
        <tr>
            <td class="title">Заказ выполнен</td>
        </tr>
        <tr>
            <td>Здравствуйте, <span class="text-medium">{{orderCreator}}!</span></td>
        </tr>
        <tr>
            <td>Работы по Вашему заказу № <span class="text-medium">{{orderNumber}}</span> были выполнены.</td>
        </tr>
        <tr>
            <td>Посмотрите фотоотчет и оцените результат в личном кабинете в <a href="{{{getMobileAppLink}}}" class="link">мобильном приложении ВПамяти</a>.</td>
        </tr>
        <tr>
            <td>Похвалите нас или помогите нам стать лучше.</td>
        </tr>
        <tr>
            <td class="padding-16">Наши контакты:</td>
        </tr>
        <tr>
            <td class="no-padding">{{> partials/contact-list}}</td>
        </tr>
        </tbody>
    </table>
    </td>
</tr>
<tr>
    <td class="divider-32">&nbsp;</td>
</tr>
<tr>
    <td>{{> partials/mobile}}</td>
</tr>
<tr>
    <td>{{> partials/footer-note}}</td>
</tr>
</tbody>
</table>
</body>
