.body {
    background: #f7f7f7;
    color: #3b3b3b;
    font-family:'Roboto',sans-serif;
    margin: 0;
    -webkit-text-size-adjust: none;
}

.header {
    color: black;
}

.table-root {
    width: 480px;
    margin: 0 auto
}

.logo {
    padding-bottom: 26px;
}

.logo img {
    display: block;
    margin-left: 31.25%;
}

.cell_table-main {
    padding: 40px;
    background: #ffffff;
}

.cell_table-main.sm-padding {
    padding-bottom: 32px;
}

.table-main {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.table-main > tbody > tr > td {
    line-height: 21px;
    padding-bottom: 21px;
    vertical-align: baseline;
}

.table-main > tbody > tr > td.no-padding {
    padding-bottom: 0;
}

.table-main > tbody > tr > td.padding-16 {
    padding-bottom: 16px;
}

.table-main .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 16px;
}

.link {
    color: #40B5AE;
}

.text-medium {
    font-weight: 500;
}

.divider-32 {
    padding: 8px 0;
    line-height: 16px;
}

.divider-36 {
    padding: 10px 0;
    line-height: 16px;
}

.cell-action-button {
    padding: 24px 0 0;
}

.action-button {
    text-align: center;
    display: block;
    height: 52px;
    line-height: 52px;
    background: #40B5AE;
    border-radius: 3px;
    color: #f7f7f7;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
