<style>
    .table-contact td {
        font-size: 14px;
        padding-right: 8px;
        padding-bottom: 8px;
        line-height: 21px;
    }
</style>
<table class="table-contact">
    <tr>
        <td width="100" class="text-medium">
            Наш телефон:
        </td>
        <td>
            8 (495) 150-21-12
        </td>
    </tr>
    <tr>
        <td width="100" class="text-medium">
            Эл. почта:
        </td>
        <td>
            <a href="mailto:help@openagent.ru" target="_blank" rel="nofollow noopener" class="link">help@openagent.ru</a>
        </td>
    </tr>
    <tr>
        <td width="100" class="text-medium">
            Наш сайт:
        </td>
        <td>
            <a href="https://vpam.ru" target="_blank" rel="nofollow noopener" class="link">vpam.ru</a>
        </td>
    </tr>
</table>
