<style>
    .table-contact-info {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 1px;
    }
    .table-contact-info .subtitle {
        font-size: 15px;font-weight: 700;line-height: 20px;
        padding: 0 0 12px;
        text-align: left;
    }
    .table-contact-info .label {
        vertical-align: baseline;
        font-weight: 300;
        color: #808080;
        padding: 0 4px 6px 0;
        width: 120px;
    }
    .table-contact-info .value {
        vertical-align: baseline;
        padding: 0 0 6px 0;
        font-weight: 400;
    }
    .table-contact-info .empty-link {
        text-decoration: none;
        color: #3b3b3b;
    }
</style>
<table class="table-contact-info">
    <tr>
        <td colspan="2" class="subtitle">
            Контактная информация
        </td>
    </tr>
    <tbody>
    {{#contactInfo}}
        <tr>
            <td class="label">
                {{label}}
            </td>
            <td class="value">
                <a class="empty-link">{{value}}</a>
            </td>
        </tr>
    {{/contactInfo}}
    </tbody>
</table>
