<style>
    .table-divider {
        width: 100%;
        padding: 16px 0 24px;
    }
    .table-divider td {
        background: #e5e5e5;height: 1px;
    }
</style>
<table class="table-divider">
    <tbody>
    <tr>
        <td></td>
    </tr>
    </tbody>
</table>
