<style>
    .table-footer-note {
        width: 100%;
    }
    .table-footer-note td {
        color: #808080;
        font-size: 14px;
        font-weight: normal;
        line-height: 150%;
        padding: 0 0 40px;
    }
</style>
<table class="table-footer-note">
    <tbody>
    <tr>
        <td>
            Вы получили это письмо, поскольку оформили заказ с помощью сервиса "ВПамяти". Если вы не делали этого,
            проигнорируйте данное письмо.
        </td>
    </tr>
    </tbody>
</table>
