<style>
    .table-mobile {
        width: 100%;
        border-spacing: 0;
    }
    .table-mobile a {
        display: inline-block;
        text-decoration: none;
    }
    .table-mobile__subtitle {
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        padding-bottom: 16px;
    }
    .table-mobile__desc {
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
        padding-bottom: 16px;
    }
    .table-mobile__link {
        padding-bottom: 24px;
        height: 48px;
    }
    .table-mobile__link_first {
        padding-right: 32px;
    }
</style>
<table class="table-mobile">
    <tbody>
    <tr>
        <td colspan="2" class="table-mobile__subtitle">Мобильное приложение ВПамяти</td>
    </tr>
    <tr>
        <td colspan="2" class="table-mobile__desc">Скачайте приложение «ВПамяти» для iOS или Android и получите дополнительные возможности</td>
    </tr>
    <tr>
        <td valign="top" class="table-mobile__link" width="144">
            <a href="/" class="table-mobile__link_first">
                <img border="0" width="144" height="48" alt="app store" src="https://hastaticimg.s3.eu-west-1.amazonaws.com/app-store.png"/>
            </a>
        </td>
        <td valign="top" class="table-mobile__link">
            <a href="/">
                <img border="0" width="158" height="48" alt="google play" src="https://hastaticimg.s3.eu-west-1.amazonaws.com/google-play.png"/>
            </a>
        </td>
    </tr>
    </tbody>
</table>
