<style>
    .table-order {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        vertical-align: baseline;
    }
    .table-order .subtitle {
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        padding: 0 0 12px;
    }
    .table-order .label {
        vertical-align: baseline;
        font-weight: 300;
        color: #808080;
        padding: 0 4px 6px 0;
        width: 120px;
    }
    .table-order .value {
        vertical-align: baseline;
        padding: 0 0 6px 0;
        font-weight: 400;
    }
    .table-order .value-medium {
        padding: 0 0 8px 0;
        font-weight: 500;
    }
    .table-order > tbody > tr:last-of-type table {
        padding: 0;
    }
    .table-order > tbody > tr:last-of-type td {
        height: 0;
    }
</style>
<table class="table-order">
    <tbody>
    <tr>
        <td colspan="2">{{> divider}}</td>
    </tr>
    <tr>
        <td class="subtitle">Состав заказа</td>
    </tr>
    {{#order}}
        {{#serviceName}}
            <tr>
                <td class="label">
                    Услуга:
                </td>
                <td class="value-medium">
                    {{serviceName}}
                </td>
            </tr>
        {{/serviceName}}
        {{#serviceList}}
            <tr>
                <td class="label">
                    {{label}}
                </td>
                <td class="value">
                    {{value}}
                </td>
            </tr>
        {{/serviceList}}
        <tr>
            <td colspan="2">{{> divider}}</td>
        </tr>
    {{/order}}
    </tbody>
</table>
