<style>
    .table-payment-info {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        vertical-align: baseline;
        padding-bottom: 1px;
    }
    .table-payment-info .subtitle {
        font-size: 15px;font-weight: 700;line-height: 20px;
        padding: 0 0 12px;
        text-align: left;
    }
    .table-payment-info .label {
        font-weight: 300;
        color: #808080;
        padding: 0 4px 6px 0;
        width: 120px;
    }
    .table-payment-info .value {
        padding: 0 0 6px 0;
        font-weight: 400;
    }
    .table-payment-info .no-padding {
        padding-bottom: 0;
    }
</style>
<table class="table-payment-info">
    <tbody>
    <tr>
        <td colspan="2" class="subtitle">
            Информация об оплате
        </td>
    </tr>
    <tr>
        <td class="label">Сумма к оплате:</td>
        <td class="value">{{totalValue}}</td>
    </tr>
    <tr>
        <td class="label no-padding">Статус оплаты:</td>
        <td class="value no-padding">{{status}}</td>
    </tr>
    {{#paid}}
        <h2>PAID</h2>
        {{/paid}}
    </tbody>
</table>
